# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# Data 
data/


# Artifacts 
artifacts/


# Jupyter
.ipynb_checkpoints/
.ipynb
notebooks/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.cursor/

# Weights & Biases
wandb/

# Environment variables
WandB_key.txt
.env